<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>Soy Rodrigo Maidana, tengo 23 años y soy estudiante de octavo semestre en la Universidad Nacional de Itapúa
          en
          Encarnación, Paraguay. Soy desarrollador backend especializado en Java Spring Boot, con experiencia en la
          creación de
          APIs, autenticación JWT y gestión de datos con MySQL y PostgreSQL. Tengo conocimientos básicos de React y
          experiencia en
          el despliegue de aplicaciones en Azure..</p>
      </div>



    </div>
  </div>
</section>